.container{
	width: 60em;
	margin-left: auto;
	margin-right: auto;
	background-color:#D3D3D3;
	padding: 5px;


}
body {
	background-color: #404040;
}
img{
	margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: 280px;
    width: auto;
    float: right;
    text-align: center;

}
.name{
	color: black;
	font-size: 20; 
	padding-left: 10px;
}
.physical-address{
	text-align: left;
	font-size: 20;
	padding-left: 10px;

}
.contacts{
	text-align: left;
	padding-left: 10px

}
.personal{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	font-size: 20;
}
.personal h2{
	padding: 10px; 
	background: #C0C0C0; 
	color: #000000; 
	line-height: 20px; 
	font-size:30px; 
	text-align: justify; 
}
.education{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20;
}
.education h2{
	padding: 10px; 
	background: #C0C0C0; 
	color: #000000; 
	line-height: 20px; 
	font-size:30px; 
	text-align: justify; 
}
.professional{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20; 
} 
.professional h2{
	padding: 10px; 
	background: #C0C0C0; 
	color: #000000; 
	line-height: 20px; 
	font-size:30px; 
	text-align: justify; 

} 
.Archievment {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20; 
} 
.Archievment h2{
	padding: 10px; 
	background: #C0C0C0; 
	color: #000000; 
	line-height: 20px; 
	font-size:30px; 
	text-align: justify; 

} 
.Referees {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20;
} 
.Referees h2{
	padding: 10px; 
	background: #C0C0C0; 
	color: #000000; 
	line-height: 20px; 
	font-size:30px; 
	text-align: justify; 

} 
.table th td{
	height: 50px;
	width: 80px;
}
th, td {
    border: 0px ;
    width: 1000px;
    text-align: left;

}
